body {
    background-image: url('../img/-textura-html.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: size 60%;
}

h1 {
    margin-left: 45%;
    color: aliceblue
}

nav {
    background-color: red;
    color: black;
    padding: 15px;
    margin-bottom: 50px;
    font-family: Helvetica, Arial, sans-serif;
    border: black solid;
    border-radius: 33px;
}

.apartado {
    display: inline;
    margin: 8% 8%;
}

.barralateralizquierda>.apartado {
    display: block;
}

.barralateralizquierda {
    background-color: lightgray;
    color: black;
    width: 10%;
    height: 633px;
    float: left;
    box-sizing: border-box;
    margin-right: 5%;
    margin-bottom: 3%;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.tituloindex {

    float: left;
    border: 3px solid white;
    width: 40%;
    border-radius: 24px;
    margin-top: 50px;
    margin: 1px;
    text-align: center;
    margin-left: 18%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.mainindex {
    float: left;
    border: 5px dashed yellow;
    width: 77%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 50px;
    margin: 1px;
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: darkgoldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.caracteristica {
    padding-left: 10%;
    padding-right: 10%;
}
div.caracteristica2{
    padding-right: 18%;
}
.apartadosindex {
    padding-right: 75%;
}

hr {
    background-color: black;
    height: 6px;
}

footer {
    float: left;
    background-color: lightblue;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 0px;

}